/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
a,
textarea {
  outline: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, svg {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: bold;
}

/* /reset */
@font-face {
  font-family: "Tektur";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/tektur/tektur_regular.eot");
  src: url("../fonts/tektur/tektur_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/tektur/tektur_regular.woff") format("woff"), url("../fonts/tektur/tektur_regular.woff2") format("woff2"), url("../fonts/tektur/tektur_regular.ttf") format("truetype"), url("../fonts/tektur/tektur_regular.svg") format("svg");
}
@font-face {
  font-family: "Tektur";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/tektur/tektur_medium.eot");
  src: url("../fonts/tektur/tektur_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/tektur/tektur_medium.woff") format("woff"), url("../fonts/tektur/tektur_medium.woff2") format("woff2"), url("../fonts/tektur/tektur_medium.ttf") format("truetype"), url("../fonts/tektur/tektur_medium.svg") format("svg");
}
@font-face {
  font-family: "Tektur";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/tektur/tektur_bold.eot");
  src: url("../fonts/tektur/tektur_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/tektur/tektur_bold.woff") format("woff"), url("../fonts/tektur/tektur_bold.woff2") format("woff2"), url("../fonts/tektur/tektur_bold.ttf") format("truetype"), url("../fonts/tektur/tektur_bold.svg") format("svg");
}
/* settings */
body.lock {
  overflow: hidden;
}

@media (max-width: 600px) {
  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 601px) {
  .mobile-visible {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .tablet-hide {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .tablet-visible {
    display: none !important;
  }
}

.row-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -20px;
}
.row-grid > * {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
}
.row-grid.gy {
  margin-top: -20px;
}
.row-grid.gy > * {
  padding-top: 20px;
}

.wrapper-grid {
  width: 100%;
  max-width: 1564px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .wrapper-grid {
    padding-left: 15px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper-grid {
    padding-right: 15px;
  }
}
@media (max-width: 991px) {
  .wrapper-grid {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.page-eiv {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 80px;
}

.content-eiv {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navpage {
  padding: 100px 0;
}
.navpage h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.navpage ul {
  font-size: 18px;
}
.navpage ul li {
  margin: 10px 0;
}

/* /settings */
/* header-eiv */
.header-eiv {
  width: 100%;
  background-color: rgba(248, 248, 248, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Tektur", sans-serif;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header-eiv__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-eiv__burger {
  width: 35px;
  height: 35px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 90px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header-eiv__burger--mobile {
  display: none;
}
.header-eiv__burger-inner {
  width: 40%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.header-eiv__burger-inner:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: -3px;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-eiv__burger-inner:after {
  content: "";
  display: block;
  width: 70%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 3px;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-eiv__logo {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 67px;
  margin-right: 50px;
}
.header-eiv__logo img {
  display: block;
}
.header-eiv__menu {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 19px;
  font-weight: bold;
}
.header-eiv__menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -28px;
  margin-right: -28px;
}
.header-eiv__menu > ul li {
  margin: 0 28px;
  position: relative;
}
.header-eiv__menu > ul li:hover > .header-eiv__dropmenu {
  opacity: 1;
  visibility: visible;
}
.header-eiv__menu > ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.header-eiv__menu > ul li a:hover {
  color: #444DA0;
  fill: #444DA0;
}
.header-eiv__points {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header-eiv__points svg {
  width: 20px;
  height: 10px;
}
.header-eiv__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}
.header-eiv__icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0 24px;
  fill: #888;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.header-eiv__icon svg {
  display: block;
  max-width: 19px;
  max-height: 19px;
}
.header-eiv__icon:hover {
  fill: #444DA0;
}
.header-eiv__btn {
  padding: 11px 20px;
  margin-left: 16px;
  border-radius: 4px;
  background-color: #444DA0;
  border: 1px solid #444DA0;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.2px;
  text-align: center;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header-eiv__bmenu {
  height: 100vh;
  padding-top: 120px;
  background-color: #fff;
  font-family: "Tektur", sans-serif;
  color: #000;
  position: fixed;
  top: -2000px;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 9;
  overflow-y: auto;
}
.header-eiv__bmenu.open {
  top: 0;
}
.header-eiv__bmenu-head {
  border-bottom: 1px solid #000;
  padding-bottom: 50px;
}
.header-eiv__bmenu-col {
  width: 25%;
}
@media screen and (max-width: 1200px) {
  .header-eiv__bmenu-col {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .header-eiv__bmenu-col {
    width: 100%;
  }
}
.header-eiv__bmenu-title {
  font-size: 24px;
  font-weight: 500;
}
.header-eiv__bmenu-subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.header-eiv__bmenu-body {
  padding: 30px 0;
}
.header-eiv__bmenu-list {
  font-size: 14px;
  margin-bottom: 40px;
}
.header-eiv__bmenu-list li {
  margin-bottom: 6px;
}
.header-eiv__bmenu-list li a {
  text-decoration: none;
  color: #000;
}
.header-eiv__dropmenu {
  min-width: 240px;
  margin-left: -20px;
  border-radius: 4px;
  display: block !important;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  font-weight: 500;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-eiv__dropmenu li {
  margin: 0 !important;
}
.header-eiv__dropmenu li a {
  height: auto !important;
  padding: 10px 20px;
}
.header-eiv__dropmenu--prev > li a {
  padding-right: 30px;
  position: relative;
}
.header-eiv__dropmenu--prev > li a:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 12L0.399994 24V0L22 12Z' fill='%23000'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  right: 20px;
}
.header-eiv__dropmenu--inner {
  top: 0;
  left: auto;
  right: 100%;
}
.header-eiv__dropmenu--inner li a:after {
  display: none !important;
}
@media (max-width: 1365px) {
  .header-eiv {
    height: 80px;
    padding: 6px 0;
  }
  .header-eiv__menu {
    display: none;
  }
  .header-eiv__bmenu {
    display: none;
  }
  .header-eiv__burger--desktop {
    display: none;
  }
  .header-eiv__burger--mobile {
    display: block;
  }
}
@media (max-width: 1550px) {
  .header-eiv__burger {
    margin-right: 20px;
  }
}
@media (min-width: 769px) {
  .header-eiv__burger:hover .header-eiv__burger-inner:after, .header-eiv__burger:hover .header-eiv__burger-inner:before {
    background-color: #444DA0;
  }
  .header-eiv__burger.is-active .header-eiv__burger-inner:after {
    width: 100%;
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header-eiv__burger.is-active .header-eiv__burger-inner:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@media (max-width: 768px) {
  .header-eiv {
    height: 54px;
  }
  .header-eiv__logo {
    max-width: 40px;
  }
  .header-eiv__user {
    margin-right: -15px;
  }
  .header-eiv__burger {
    margin-right: 20px;
  }
  .header-eiv__icon {
    padding: 0 15px;
  }
}

/* /header-eiv */
/* mobile-menu */
.mobile-menu {
  display: none;
  width: 100%;
  max-width: 370px;
  padding: 20px 0;
  background-color: #fff;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.45);
  font-family: "Tektur", sans-serif;
  color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -700px;
  overflow-y: auto;
  z-index: 20;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.mobile-menu__logo {
  display: block;
  max-width: 67px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.mobile-menu__nav {
  font-size: 14px;
  font-weight: 500;
}
.mobile-menu__nav ul li a {
  padding: 10px 0 !important;
  text-decoration: none;
  color: #000;
}
.mobile-menu__nav ul li.selected > a {
  font-weight: 500;
}
.mobile-menu__nav ul ul {
  font-weight: normal;
}
.mobile-menu__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mobile-menu__close:after, .mobile-menu__close:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
}
.mobile-menu__close:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.mobile-menu__close:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.mobile-menu__title {
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
}
.mobile-menu__btn {
  margin: 30px 0;
  padding: 11px 20px;
  text-align: center;
  border-radius: 4px;
  background-color: #444DA0;
  color: #fff;
}
.mobile-menu__lk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #999;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
}
.mobile-menu__lk svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 18px;
  max-height: 18px;
  margin-right: 15px;
  margin-top: 2px;
}
.mobile-menu__contact li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 !important;
  fill: #999;
  color: #000;
  text-decoration: none;
}
.mobile-menu__contact li a svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 18px;
  max-height: 18px;
  margin-right: 15px;
  margin-top: 2px;
}
.mobile-menu__social {
  margin: 30px 0;
}
.mobile-menu__social-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
}
.mobile-menu__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 4px;
  background-color: #2787F5;
  fill: #fff;
}
.mobile-menu__social-icon svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
.mobile-menu .back {
  display: block;
  width: 100%;
}
.mobile-menu .back:before {
  opacity: 0.4;
}
.mobile-menu .next:after {
  width: 5px;
  height: 5px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 12L0.399994 24V0L22 12Z' fill='%23000'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}
.mobile-menu .slinky-theme-default {
  background: transparent;
}
.mobile-menu.open {
  left: 0;
}
@media (max-width: 1365px) {
  .mobile-menu {
    display: block;
  }
}

.waSlideMenu-back svg {
  width: 20px;
  height: 20px;
}

/* /mobile-menu */
/* welcome-slider */
.welcome-slider {
  padding: 50px 0 120px;
  border-bottom: 1px solid #BAB7B7;
  font-family: "Tektur", sans-serif;
  color: #000;
}
.welcome-slider__slider {
  overflow: hidden;
}
.welcome-slider__slider .swiper-slide-active .welcome-slider__img {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.welcome-slider__slider .swiper-slide-active .welcome-slider__content {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.welcome-slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.welcome-slider__img {
  width: 50%;
  margin-right: 28px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transform: translate(-1000px);
  -ms-transform: translate(-1000px);
  transform: translate(-1000px);
  -webkit-transition: opacity 1s, -webkit-transform 1s ease 0.3s;
  transition: opacity 1s, -webkit-transform 1s ease 0.3s;
  -o-transition: transform 1s ease 0.3s, opacity 1s;
  transition: transform 1s ease 0.3s, opacity 1s;
  transition: transform 1s ease 0.3s, opacity 1s, -webkit-transform 1s ease 0.3s;
  opacity: 0;
}
.welcome-slider__img img {
  width: 100%;
}
.welcome-slider__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-transform: translate(1000px);
  -ms-transform: translate(1000px);
  transform: translate(1000px);
  -webkit-transition: opacity 1s, -webkit-transform 1s ease 0.3s;
  transition: opacity 1s, -webkit-transform 1s ease 0.3s;
  -o-transition: transform 1s ease 0.3s, opacity 1s;
  transition: transform 1s ease 0.3s, opacity 1s;
  transition: transform 1s ease 0.3s, opacity 1s, -webkit-transform 1s ease 0.3s;
  opacity: 0;
}
.welcome-slider__sub {
  font-size: 15px;
  line-height: 1.5;
  color: #636161;
}
.welcome-slider__title {
  font-weight: 500;
  font-size: 96px;
  line-height: 1.25;
  margin-bottom: 30px;
}
.welcome-slider__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 22px;
}
.welcome-slider__btn {
  display: inline-block;
  padding: 33px 40px;
  border: 1px solid #000000;
  border-radius: 9px;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.welcome-slider__btn:hover {
  background-color: #444DA0;
  border-color: #444DA0;
  color: #fff;
}
@media (max-width: 1365px) {
  .welcome-slider__title {
    font-size: 60px;
  }
}
@media (max-width: 1200px) {
  .welcome-slider {
    padding-bottom: 80px;
  }
  .welcome-slider__title {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .welcome-slider__title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .welcome-slider {
    padding: 20px 0 60px;
  }
  .welcome-slider__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .welcome-slider__img {
    width: 100%;
    margin-right: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .welcome-slider__btn {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 600px) {
  .welcome-slider__btn {
    width: 100%;
  }
}

/* /welcome-slider */
/* steps-eiv */
.steps-eiv {
  padding: 70px 0 20px;
  border-bottom: 1px solid #BAB7B7;
  font-family: "Tektur", sans-serif;
  color: #000;
}
.steps-eiv__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.steps-eiv__container > *:nth-child(1) {
  padding-right: 15px;
}
.steps-eiv__container > *:nth-child(2) {
  padding-left: 15px;
}
.steps-eiv__video {
  width: 50%;
  padding-top: 20px;
}
.steps-eiv__video video {
  width: 100%;
}
.steps-eiv__video img {
  width: 100%;
}
.steps-eiv__content {
  width: 50%;
}
.steps-eiv__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
  position: relative;
  margin-bottom: 35px;
}
.steps-eiv__section-num {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  position: absolute;
  bottom: calc(100% - 15px);
  right: 100%;
}
.steps-eiv__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 153.8%;
  color: #636161;
  margin-bottom: 10px;
}
.steps-eiv__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -50px;
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
}
.steps-eiv__list {
  padding-left: 50px;
}
.steps-eiv__list:nth-child(1) {
  margin-right: 20px;
}
.steps-eiv__list li {
  margin: 75px 0;
}
.steps-eiv__list li a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}
.steps-eiv__list li a:hover {
  color: #fc031c;
}
@media (max-width: 1200px) {
  .steps-eiv__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .steps-eiv__section-num {
    font-size: 16px;
    bottom: calc(100% - 10px);
  }
  .steps-eiv__text {
    font-size: 16px;
  }
  .steps-eiv__lists {
    font-size: 20px;
  }
  .steps-eiv__list li {
    margin: 20px 0;
  }
  .steps-eiv__video {
    padding-top: 10px;
  }
}
@media (max-width: 768px) {
  .steps-eiv {
    padding: 50px 0;
  }
  .steps-eiv__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .steps-eiv__container > *:nth-child(1) {
    padding-right: 0;
  }
  .steps-eiv__container > *:nth-child(2) {
    padding-left: 0;
  }
  .steps-eiv__video {
    width: 100% !important;
    padding-top: 0;
  }
  .steps-eiv__content {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .steps-eiv__section-num {
    right: calc(100% - 10px);
  }
  .steps-eiv--over .steps-eiv__video {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (max-width: 600px) {
  .steps-eiv__title {
    font-size: 32px;
  }
  .steps-eiv__lists {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .steps-eiv__list {
    width: 100%;
  }
  .steps-eiv__list:nth-child(1) {
    margin-right: 0;
  }
  .steps-eiv__list li {
    margin: 0;
  }
  .steps-eiv__list li a {
    display: block;
    padding: 10px 0;
  }
}

/* /steps-eiv */
/* page-header */
.page-header {
  padding: 24px 0 40px;
  font-family: "Tektur", sans-serif;
  color: #000;
}
.page-header__title {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 10px;
}
.page-header__breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 2.2;
  color: #999;
}
.page-header__breadcrumbs ul li:not(:last-child) {
  margin-right: 15px;
  padding-right: 15px;
  position: relative;
}
.page-header__breadcrumbs ul li:not(:last-child):after {
  content: "";
  display: block;
  width: 12px;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 8px;
  right: -5px;
}
.page-header__breadcrumbs ul li a {
  color: #999;
  text-decoration: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.page-header__breadcrumbs ul li a:hover {
  color: #444DA0;
}
@media (max-width: 1365px) {
  .page-header__title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .page-header__title {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .page-header__title {
    font-size: 27px;
  }
}

/* /page-header */
/* page-nav */
.page-nav {
  padding-bottom: 80px;
  font-family: "Tektur", sans-serif;
  color: #000;
}
.page-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-nav__sidebar {
  width: 300px;
  margin-right: 48px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.page-nav__links {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.8;
}
.page-nav__link {
  display: block;
  padding: 15px 50px 15px 20px;
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.page-nav__link--bold {
  font-weight: bold;
  position: relative;
}
.page-nav__link--bold:after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background-color: #000;
  position: absolute;
  top: 24px;
  left: 0;
}
.page-nav__link:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.page-nav__link:hover {
  color: #444DA0;
}
.page-nav__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.page-nav__item {
  padding: 40px 0;
}
.page-nav__item:first-child {
  padding-top: 0;
}
.page-nav__item:last-child {
  padding-bottom: 0;
}
.page-nav__item:not(:last-child) {
  border-bottom: 1px solid #000;
}
.page-nav__item span {
  display: block;
  font-size: 11px;
  margin-bottom: 7px;
}
.page-nav__item a {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.6;
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.page-nav__item a:hover {
  color: #636161;
}
@media (max-width: 1365px) {
  .page-nav__item a {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .page-nav__sidebar {
    display: none;
  }
}

/* /page-nav */
/* footer-eiv */
.footer-eiv {
  background-color: #2E3464;
  font-family: "Tektur", sans-serif;
  color: #fff;
}
.footer-eiv__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px 0 56px;
  border-bottom: 1px solid #434974;
}
.footer-eiv__main {
  padding-right: 20px;
}
.footer-eiv__nav {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 33px;
}
.footer-eiv__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-right: -24px;
}
.footer-eiv__nav ul li {
  margin: 20px 0;
  padding: 0 24px;
}
.footer-eiv__nav ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-eiv__social-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}
.footer-eiv__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #474747;
  border-radius: 4px;
  fill: #A3A3A3;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.footer-eiv__social-icon svg {
  max-width: 20px;
  max-height: 20px;
}
.footer-eiv__social-icon:hover {
  background-color: #2D7AD2;
  fill: #DADADA;
}
.footer-eiv__sidebar {
  width: 180px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.footer-eiv__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  fill: #999;
  font-size: 14px;
  font-weight: 500;
}
.footer-eiv__item svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 12px;
  max-height: 14px;
  margin-top: 4px;
  margin-right: 17px;
}
.footer-eiv__item a {
  color: #fff;
  text-decoration: none;
}
.footer-eiv__item a:hover {
  color: #999;
}
.footer-eiv__item--address {
  font-size: 12px;
  line-height: 1.8;
}
.footer-eiv__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 47px 0;
  font-size: 12px;
}
.footer-eiv__bottom-item {
  margin: 8px 0;
  text-decoration: none;
  color: #fff;
}
.footer-eiv__bottom-item span {
  color: #999;
}
.footer-eiv__bottom-item:nth-child(1) {
  margin-right: 400px;
}
@media (max-width: 1200px) {
  .footer-eiv__top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-eiv__sidebar {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .footer-eiv__bottom-item:nth-child(1) {
    margin-right: 100px;
  }
}
@media (max-width: 768px) {
  .footer-eiv__top {
    padding: 16px 0 0;
  }
  .footer-eiv__nav ul {
    display: block;
    font-size: 12px;
  }
  .footer-eiv__nav ul li {
    width: 100%;
    margin: 16px 0;
  }
  .footer-eiv__item {
    font-size: 10px;
  }
  .footer-eiv__bottom {
    padding: 16px 0 40px;
    font-size: 10px;
  }
  .footer-eiv__bottom-item:nth-child(1) {
    margin-right: 40px;
  }
}

/* /footer-eiv */