// footer-eiv
footer.footer-eiv
  .wrapper-grid 

    .footer-eiv__top 

      .footer-eiv__main 

        nav.footer-eiv__nav 
          ul 
            li 
              a(href="#") О центре
            li 
              a(href="#") Поддержка Бизнеса
            li 
              a(href="#") Идеи
            li 
              a(href="#") Старт
            li 
              a(href="#") Налоги
            li 
              a(href="#") Деньги
            li 
              a(href="#") Продвижение и сбыт
            li 
              a(href="#") Проверки
            li 
              a(href="#") Закрытие
            li 
              a(href="#") Спецпроекты
            li 
              a(href="#") Обучение
            li 
              a(href="#") Онлайн сервисы
            li 
              a(href="#") Прокуратура разъясняет
            li 
              a(href="#") Общая информация
            li 
              a(href="#") Контакты

        .footer-eiv__social 
          .footer-eiv__social-row 
            a(href="#").footer-eiv__social-icon 
              svg(class="icon-vk")
                use(xlink:href="img/sprite.svg#vk")

      .footer-eiv__sidebar 
        .footer-eiv__item 
          svg(class="icon-tel")
            use(xlink:href="img/sprite.svg#tel")
          | +7 (8172) 72-87-33
        .footer-eiv__item 
          svg(class="icon-mail")
            use(xlink:href="img/sprite.svg#mail")
          a(href="mailto:728733@mail.ru") 728733@mail.ru
        .footer-eiv__item.footer-eiv__item--address 
          svg(class="icon-mark")
            use(xlink:href="img/sprite.svg#mark")
          | г. Вологда, ул. Козленская 6, каб.:103-107

    .footer-eiv__bottom 
      .footer-eiv__bottom-item 
        span 2022 
        | © Все права защищены.
      a(href="#").footer-eiv__bottom-item Политика конфиденциальности
//	/footer-eiv