// header-eiv
header.header-eiv
  .wrapper-grid  
    .header-eiv__container 
      .header-eiv__burger.header-eiv__burger--desktop.js-drop-menu(data-drop="menu")
        .header-eiv__burger-inner 
      .header-eiv__burger.header-eiv__burger--mobile.js-drop-menu(data-drop="menuMobile")
        .header-eiv__burger-inner 
      a(href="#").header-eiv__logo 
        img(src="img/logo.png", alt="")
      nav.header-eiv__menu   
        ul
          li 
            a(href="#") О ЦЕНТРЕ
            ul.header-eiv__dropmenu 
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
          li 
            a(href="#") Поддержка Бизнеса
            ul.header-eiv__dropmenu 
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
          li 
            a(href="#") Идеи
            ul.header-eiv__dropmenu 
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
          li 
            a(href="#") Старт
            ul.header-eiv__dropmenu 
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
          li 
            a(href="#") Налоги
            ul.header-eiv__dropmenu 
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
          li 
            a(href="#") Деньги
            ul.header-eiv__dropmenu 
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
          li 
            a(href="#") Продвижение и сбыт
            ul.header-eiv__dropmenu 
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
              li 
                a(href="#") Партнеры
          li.header-eiv__points 
            a(href="#")
              svg(class="icon-points")
                use(xlink:href="img/sprite.svg#points")
            ul.header-eiv__dropmenu.header-eiv__dropmenu--prev
              li 
                a(href="#") Партнеры
                ul.header-eiv__dropmenu.header-eiv__dropmenu--inner
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
              li 
                a(href="#") Партнеры
                ul.header-eiv__dropmenu.header-eiv__dropmenu--inner
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
              li 
                a(href="#") Партнеры
                ul.header-eiv__dropmenu.header-eiv__dropmenu--inner
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
              li 
                a(href="#") Партнеры
                ul.header-eiv__dropmenu.header-eiv__dropmenu--inner
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Партнеры
      .header-eiv__user 
        .header-eiv__icon 
          svg(class="icon-tel")
            use(xlink:href="img/sprite.svg#tel")
        .header-eiv__icon 
          svg(class="icon-search")
            use(xlink:href="img/sprite.svg#search")
        .header-eiv__icon 
          svg(class="icon-user")
            use(xlink:href="img/sprite.svg#user")
        .header-eiv__btn.tablet-hide Подать заявку

.header-eiv__bmenu#menu
  .wrapper-grid
    .header-eiv__bmenu-head 
      .row-grid.gy
        .header-eiv__bmenu-col 
          .header-eiv__bmenu-title Обучение
        .header-eiv__bmenu-col 
          .header-eiv__bmenu-title Услуги онлайн
        .header-eiv__bmenu-col 
          .header-eiv__bmenu-title Консультация
    .header-eiv__bmenu-body 
      .row-grid.gy 
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Идея
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Старт
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Обучение
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Налоги
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Идея
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Старт
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Обучение
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Налоги
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Идея
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Старт
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Обучение
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
        .header-eiv__bmenu-col
          .header-eiv__bmenu-subtitle Налоги
          ul.header-eiv__bmenu-list 
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
            li 
              a(href="#") Готовые решения
//	/header-eiv