extends core/base.pug

block title 
  title Навигаця по страницам

block content

  .navpage 
    .wrapper-grid 
      h1 Навигаця по страницам
      ul 
        li 
          //- a(href="template.html") Шаблон
        li 
          a(href="landing.html") Лендинг