extends core/base.pug

block title 
  title Лендинг

block content

  .page-eiv 

    include core/header.pug

    .content-eiv 

      // welcome-slider
      .welcome-slider 
        .wrapper-grid 
          .welcome-slider__slider 
            #welcomeSlider 
              .swiper-wrapper 
                .swiper-slide 
                  .welcome-slider__container 
                    .welcome-slider__img 
                      video(autoplay playsinline muted preload="auto" poster="img/img8.png").lazySlider
                        source(data-src="video/4f.mp4" type="video/mp4")
                    .welcome-slider__content 
                      .welcome-slider__sub Что нужно знать для старта?
                      .welcome-slider__title Быстрый старт вашего бизнеса
                      .welcome-slider__text Всё что Вам нужно знать для открытия Вашего бизнеса - от выбора организационно-правовой формы до выбора налогообложения, необходимые документы, лицензии, разрешения, ответы на эти вопросы Вы найдете в этом разделе!
                      a(href="#").welcome-slider__btn.tablet-hide Узнать подробнее
                    a(href="#").welcome-slider__btn.tablet-visible Узнать подробнее
                .swiper-slide 
                  .welcome-slider__container 
                    .welcome-slider__content.welcome-slider__content--reverse 
                      .welcome-slider__sub Программа государственной поддержки
                      .welcome-slider__title Поддержка бизнеса
                      .welcome-slider__text Рассказываем, какие существуют государственные программы, как ими воспользоваться. Разбираем типичные вопросы и даем рекомендации. Подписывайтесь на рассылку, чтобы быть в курсе!
                      a(href="#").welcome-slider__btn.tablet-hide Узнать подробнее
                    .welcome-slider__img.welcome-slider__img--reverse 
                      img(src="img/slider2.png", alt="")
                    a(href="#").welcome-slider__btn.tablet-visible Узнать подробнее
                .swiper-slide 
                  .welcome-slider__container 
                    .welcome-slider__img 
                      video(autoplay playsinline muted preload="auto" poster="img/img2.png").lazySlider
                        source(data-src="video/1f.mp4" type="video/mp4")
                    .welcome-slider__content 
                      .welcome-slider__sub Всё начинается с идеи!
                      .welcome-slider__title Идеи для бизнеса
                      .welcome-slider__text Делимся готовыми решениями и четкими инструкциями, в разных областях бизнеса!
                      a(href="#").welcome-slider__btn.tablet-hide Узнать подробнее
                    a(href="#").welcome-slider__btn.tablet-visible Узнать подробнее
              .welcome-slider__controlls 
                .welcome-slider__pagination.swiper-pagination
                .welcome-slider__arrow.welcome-slider__arrow--prev.swiper-button-prev
                .welcome-slider__arrow.welcome-slider__arrow--next.swiper-button-next
      // /welcome-slider

      // steps-eiv over
      .steps-eiv.steps-eiv--over 
        .wrapper-grid 
          .steps-eiv__container 
            .steps-eiv__video
              img(src="img/img1.png", alt="")
            .steps-eiv__content 
              .steps-eiv__title О центре
                .steps-eiv__section-num 01
              .steps-eiv__text Муниципальное бюджетное учреждение «Центр содействия развитию предпринимательства и туризма» - некоммерческая организация, созданная по инициативе Администрации г. Вологды в 2011 году в целях содействия развитию малого и среднего предпринимательства ...
              .steps-eiv__lists 
                ul.steps-eiv__list 
                  li 
                    a(href="#") Партнеры
                  li 
                    a(href="#") Наша команда
                  li 
                    a(href="#") Отзывы
                ul.steps-eiv__list 
                  li 
                    a(href="#") Реквизиты
                  li 
                    a(href="#") Вакансии
                  li 
                    a(href="#") Документы
      // /steps-eiv over

      // steps-eiv
      .steps-eiv 
        .wrapper-grid 
          .steps-eiv__container 
            .steps-eiv__content 
              .steps-eiv__title Поддержка бизнеса
                .steps-eiv__section-num 02
              .steps-eiv__text Поддержка малого бизнеса: какие виды поддержки и на каких условиях можно получить. В мерах помощи бизнесу в нынешних непростых условиях сложно разобраться. Чтобы не пропустить льготу или субсидию, которая подойдёт конкретному малому бизнесу, теперь не нужно мониторить новости каждый день, мы собрали все в одном разделе.
              .steps-eiv__lists 
                ul.steps-eiv__list 
                  li 
                    a(href="#") Малый бизнес
                  li 
                    a(href="#") Самозанятые
                  li 
                    a(href="#") Субсидии
                ul.steps-eiv__list 
                  li 
                    a(href="#") Промышленные предприятия
                  li 
                    a(href="#") Социальные предприятия
                  li 
                    a(href="#") Документы
            .steps-eiv__video
              video(autoplay playsinline muted preload="auto" poster="img/img2.png").lazy
                source(data-src="video/1f.mp4" type="video/mp4")
      // /steps-eiv

      // steps-eiv over
      .steps-eiv.steps-eiv--over 
        .wrapper-grid 
          .steps-eiv__container 
            .steps-eiv__video
              img(src="img/img3.png", alt="")
            .steps-eiv__content 
              .steps-eiv__title Идеи
                .steps-eiv__section-num 03
              .steps-eiv__text В разделе вы найдете идеи для бизнеса со сформированным спросом на рынке, набирающие популярность направления бизнеса и тренды текущего времени. Мы собрали много новых и востребованных идей для малого и среднего бизнеса. 
              .steps-eiv__lists 
                ul.steps-eiv__list 
                  li 
                    a(href="#") Готовые решения
                  li 
                    a(href="#") Бизнес - треки
                  li 
                    a(href="#") Истории успеха
      // /steps-eiv over

      // steps-eiv
      .steps-eiv 
        .wrapper-grid 
          .steps-eiv__container 
            .steps-eiv__content 
              .steps-eiv__title Деньги для бизнеса
                .steps-eiv__section-num 04
              .steps-eiv__text Актуальные предложения для бизнеса, расчётно-кассовое обслуживание в банках России. Выгодные кредиты на открытие своего дела, развитие бизнеса. Сравните предложения от банков России и оставьте онлайн-заявку на кредит.
              .steps-eiv__lists 
                ul.steps-eiv__list 
                  li 
                    a(href="#") Кредиты и займы
                  li 
                    a(href="#") Поручительства
                  li 
                    a(href="#") Субсидии и гранты
            .steps-eiv__video
              video(autoplay playsinline muted preload="auto" poster="img/img4.png").lazy
                source(data-src="video/2f.mp4" type="video/mp4")
      // /steps-eiv

      // steps-eiv over
      .steps-eiv.steps-eiv--over 
        .wrapper-grid 
          .steps-eiv__container 
            .steps-eiv__video
              img(src="img/img5.png", alt="")
            .steps-eiv__content 
              .steps-eiv__title Старт бизнеса
                .steps-eiv__section-num 05
              .steps-eiv__text Начните зарабатывать на любимом деле и запустите свой бизнес! А мы подскажем с чего начать.
              .steps-eiv__lists 
                ul.steps-eiv__list 
                  li 
                    a(href="#") Выбор правовой формы
                  li 
                    a(href="#") Подготовка документов
                  li 
                    a(href="#") Выбор налогового режима
                ul.steps-eiv__list 
                  li 
                    a(href="#") Электронная подпись   
                  li 
                    a(href="#") Подбор помещения
                  li 
                    a(href="#") Лицензии, документы
      // /steps-eiv over

      // steps-eiv
      .steps-eiv 
        .wrapper-grid 
          .steps-eiv__container 
            .steps-eiv__content 
              .steps-eiv__title Продвижение и сбыт
                .steps-eiv__section-num 06
              .steps-eiv__text Современные методы продвижения продукции(услуг). Маркетинговые стратегии.
              .steps-eiv__lists 
                ul.steps-eiv__list 
                  li 
                    a(href="#") Точки сбыта
                ul.steps-eiv__list 
                  li 
                    a(href="#") Госзаказ
            .steps-eiv__video
              video(autoplay playsinline muted preload="auto" poster="img/img6.png").lazy
                source(data-src="video/3f.mp4" type="video/mp4")
      // /steps-eiv

      // steps-eiv over
      .steps-eiv.steps-eiv--over 
        .wrapper-grid 
          .steps-eiv__container 
            .steps-eiv__video
              img(src="img/img7.png", alt="")
            .steps-eiv__content 
              .steps-eiv__title Налоги
                .steps-eiv__section-num 07
              .steps-eiv__text В этом разделе мы расскажем все, что нужно знать о налогах. 
              .steps-eiv__lists 
                ul.steps-eiv__list 
                  li 
                    a(href="#") Налоговые режимы
                  li 
                    a(href="#") Налоговые льготы
                  li 
                    a(href="#") Подготовка документов
      // /steps-eiv over

      // steps-eiv
      .steps-eiv 
        .wrapper-grid 
          .steps-eiv__container 
            .steps-eiv__content 
              .steps-eiv__title Проверки
                .steps-eiv__section-num 08
              .steps-eiv__lists 
                ul.steps-eiv__list 
                  li 
                    a(href="#") Правила проведения
                  li 
                    a(href="#") Права предпринимателей
                  li 
                    a(href="#") Проверки по отраслям
                  li 
                    a(href="#") Маркировки продукции
                  li 
                    a(href="#") Взаимодействие бизнеса и контрольно-надзорных органов
            .steps-eiv__video
              video(autoplay playsinline muted preload="auto" poster="img/img8.png").lazy
                source(data-src="video/4f.mp4" type="video/mp4")
      // /steps-eiv

    include core/footer.pug