/* steps-eiv */
.steps-eiv { 
  padding: 70px 0 20px;
  border-bottom: 1px solid #BAB7B7;
  font-family: "Tektur", sans-serif;
  color: $black;
  &__container {
    display: flex;
    > * {
      &:nth-child(1) {
        padding-right: 15px;
      }
      &:nth-child(2) {
        padding-left: 15px;
      }
    }
  }
  &__video {
    width: 50%;
    padding-top: 20px;
    video {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  &__content {
    width: 50%;
  }
  &__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
    position: relative;
    margin-bottom: 35px;
  }
  &__section-num {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    position: absolute;
    bottom: calc(100% - 15px);
    right: 100%;
  }
  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 153.8%;
    color: $gray;
    margin-bottom: 10px;
  }
  &__lists {
    display: flex;
    margin-left: -50px;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
  }
  &__list {
    padding-left: 50px;
    &:nth-child(1) {
      margin-right: 20px;
    }
    li {
      margin: 75px 0;
      a {
        display: inline-block;
        color: $black;
        text-decoration: none;
        &:hover {
          color: $red;
        }
      }
    } 
  }
  &--over {
    
  }
  // &--end {
  //   .steps-eiv__content {
  //     width: 65%;
  //   }
  //   .steps-eiv__video {
  //     width: 35%;
  //   }
  // }
  @media (max-width: $break_lg) {
    &__title {
      font-size: 40px;
      margin-bottom: 20px;
    }
    &__section-num {
      font-size: 16px;
      bottom: calc(100% - 10px);
    }
    &__text {
      font-size: 16px;
    }
    &__lists {
      font-size: 20px;
    }
    &__list {
      li {
        margin: 20px 0;
      }
    }
    &__video {
      padding-top: 10px;
    }
  }
  @media (max-width: $break_sm) {
    padding: 50px 0;
    &__container {
      flex-wrap: wrap;
      > * {
        &:nth-child(1) {
          padding-right: 0;
        }
        &:nth-child(2) {
          padding-left: 0;
        }
      }
    }
    &__video {
      width: 100% !important;
      padding-top: 0;
    }
    &__content {
      width: 100% !important;
      margin-bottom: 20px;
    }
    &__section-num {
      right: calc(100% - 10px);
    }
    &--over {
      .steps-eiv__video {
        order: 1;
      }
    }
  }
  @media (max-width: $break_xs) {
    &__title {
      font-size: 32px;
    }
    &__lists {
      flex-wrap: wrap;
    }
    &__list {
      width: 100%;
      &:nth-child(1) {
        margin-right: 0;
      }
      li {
        margin: 0;
        a {
          display: block;
          padding: 10px 0;
        }
      }
    }
  }
}
/* /steps-eiv */