/* welcome-slider */
.welcome-slider { 
  padding: 50px 0 120px;
  border-bottom: 1px solid #BAB7B7;
  font-family: "Tektur", sans-serif;
  color: $black;
  &__slider {
    overflow: hidden;
    .swiper-slide {
      height: auto;
      background-color: #fff;
    }
    .swiper-slide-active {
      .welcome-slider__img {
        transform: translate(0,0);
        opacity: 1;
      }
      .welcome-slider__content {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }
  &__container {
    display: flex;
    overflow: hidden;
  }
  &__img {
    width: 50%;
    margin-right: 28px;
    flex-shrink: 0;
    transform: translate(-1000px, 0);
    transition: transform 1s ease 0.3s, opacity 1s;
    opacity: 0;
    img {
      width: 100%;
    }
    video {
      width: 100%;
    }
    &--reverse {
      margin-left: 28px;
      transform: translate(1000px, 0);
    }
  }
  &__content {
    flex-grow: 1;
    transform: translate(1000px, 0);
    transition: transform 1s ease 0.3s, opacity 1s;
    opacity: 0;
    &--reverse {
      transform: translate(-1000px, 0);
    }
  }
  &__sub {
    font-size: 15px;
    line-height: 1.5;
    color: $gray;
  }
  &__title {
    font-weight: 500;
    font-size: 96px;
    line-height: 1.25;
    margin-bottom: 30px;
  }
  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 22px;
  }
  &__btn {
    display: inline-block;
    padding: 33px 40px;
    border: 1px solid #000000;
    border-radius: 9px;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    color: $black;
    cursor: pointer;
    user-select: none;
    text-align: center;
    transition: 0.3s;
    &:hover {
      background-color: $blue;
      border-color: $blue;
      color: #fff;
    }
  }
  &__controlls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  }
  &__pagination {
    display: flex;
    flex-wrap: wrap;
    width: auto !important;
    margin-right: 20px;
    position: static;
    .swiper-pagination-bullet {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12px;
      height: 12px;
      margin: 7px !important;
      background-color: #fff;
      border: 1px solid $gray;
      opacity: 1;
      transition: .5s transform;
      transform: scale(0.8);
      &:hover {
        background-color: $blue;
        border-color: $blue;
        transform: scale(1);
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $blue;
      border-color: $blue;
      transform: scale(1);
    }
  }
  &__arrow {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    background-color: #444;
    border-radius: 4px;
    position: static;
    margin-top: 0;
    transition: .5s;
    &:after {
      font-size: 12px;
      font-weight: bold;
      color: #fff;
    }
    &--prev {
      
    }   
    &--next {

    }
    &:hover {
      background-color: $blue;
    }
  }
  @media (max-width: $break_xl) {
    &__title {
      font-size: 60px;
    }
  }
  @media (max-width: $break_lg) {
    padding-bottom: 80px;
    &__title {
      font-size: 50px;
    }
  }
  @media (max-width: $break_md) {
    &__title {
      font-size: 40px;
    }
  }
  @media (max-width: $break_sm) {
    padding: 20px 0 60px;
    &__container {
      flex-wrap: wrap;
      height: 100%;
    }
    &__img {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px;
      order: 1;
    }
    &__btn {
      order: 2;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
    }
    &__controlls {
      justify-content: center;
    }
    &__pagination {
      margin-right: 0;
    }
    &__arrow {
      display: none;
    }
  }
  @media (max-width: $break_xs) {
    &__btn {
      width: 100%;
    }
  }
}
/* /welcome-slider */